.caja1{
    background-color: green;
    width:200px;
    height:200px;
    display:inline-block;

}

.caja2{
    background-color: blue;
    width:200px;
    height:200px;
    display:inline-block;
   

}

.cajaPadre{
    
}